@charset "UTF-8";

/*!
 * EtherCastsTraining Stylesheet
 */


/** Prevents layering issues in certain browser/transition combinations */

.reveal ul {
	list-style-type: none!important;

}

.reveal h2 {
	margin: 0 0 70px 0!important;
}

.reveal ul li {
 margin:0 0 60px 0;  
}
.controls div.navigate-left.enabled {
border-right-color: #B5C1F0!important;
}

.controls div.navigate-right.enabled {
border-left-color: #B5C1F0!important;
}

.reveal a:not(.image) {
color: #B5C1F0!important;
{

/*********************************************
 * SLIDES
 *********************************************/

.reveal .slides>section,
.reveal .slides>section>section {
	display: none;
	position: absolute;
	width: 100%;
	padding: 20px 0px;

	z-index: 10;
	line-height: 1.2em!important;
	font-weight: inherit;
